*{
    margin: 0;
    padding: 0;
}
/*----NavigationBar----*/
#nav-bar{
    position: sticky;
    top:0;
    z-index: 100;
}
.navbar-logo img
{
    height: 80px;
    padding-left: 30px;
}
.navbar-nav li{
    height: 40px;
    padding: 7px;
}
.navbar-nav li a{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover{
    color:#fe50be;!important;
    -webkit-animation: bounce 0.6s;
}
@-webkit-keyframes bounce {
        0% {
    transform: scale(1,1) translate(0px, 0px);
  }
  
  30%{
    transform: scale(1,0.8) translate(0px, 10px); 
  }

  75%{
    transform: scale(1,1.1) translate(0px, -25px); 
  }
  
 100% {
    transform: scale(1,1) translate(0px, 0px);
  }
}
.navbar
{
   background-color: #ffff;
}
#navbarNav{
    padding-right: 95px;
}
.navbar-toggler{
    border: none!important;
    
}

/*-----slider-----*/
#slider{
    width: 100%;
}
.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;
    color: aqua;
}
.carousel-caption h5{
    color: white;
    text-shadow: 3px 3px 2px #fe50be;
    font-size: 40px;
    font-weight: 550;
}
.carousel-caption p{
    color: white;
    text-shadow: 1px 2px 2.5px black;
    font-size: 28px;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side1{
flex:10%;
padding: 2px;
}
.side2{
flex:10%;
padding: 2px;
}
.side3{
flex:10%;
padding: 2px;
}
.side4{
flex:10%;
padding:2px;
}
.side5{
flex:10%;
padding: 2px;
}
.side6{
flex:10%;
padding: 2px;
}
.nav-side{
    /*color: #FFC621!important;*/
    color: #fe50be;!important;
    text-decoration: none;
}



/*-------------Service&Product-------------*/

#service, #product{
    padding-top: 50px;
    padding-bottom: 50px;  
}
.service{
    background-image: url(P-Back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
/*------Service IMG--------*/
.S-img{
    transition: height 0.3s;
  -webkit-transition: height 0.3s; /* Safari 3.1 to 6.0 */
}
.S-img:hover{
    border: 3px solid white;
box-shadow: 5px 5px 5px #fe50be;
}
#detail{
    padding-top: 50px;
    padding-bottom: 50px;     
}
#price{
        padding-top: 50px;
    padding-bottom: 50px; 
}


/*----------Big Text--------------*/
.SERVICE
{
    color: white;
    text-shadow: 3px 3px 2px #fe50be;
    margin: 20px 0;
}
.big-text
{
    color: black;
}
h1{
text-align: center;
color: black;
padding-bottom: 10px;
}
h1::after{
content: '';
background: #fe50be;
display: block;
height: 3px;
width: 170px;
margin: 20px auto 5px;
}

/*----------Text Center--------------*/
.text-center{
    color: white;
    text-shadow: 1px 2px 2.5px black;
    font-size: 28px;
}
.text-center1{
    color: white;
    text-shadow: 1px 2px 2.5px #fe50be;
    font-size: 28px;
}
.container
{
    width: 10%;
    margin: auto;
}
/*----------------Product-------------------*/
* {
box-sizing: border-box;
}
/* Column container */
.row1 {
display: flex;
flex-wrap: wrap;
color: #FFAE02;
text-align: center;
}
/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side1{
flex:10%;
padding: 2px;
}
.side2{
flex:10%;
padding: 2px;
}
.side3{
flex:10%;
padding: 2px;
}
.side4{
flex:10%;
padding:2px;
}
.side5{
flex:10%;
padding: 2px;
}
.side6{
flex:10%;
padding: 2px;
}
/*------------Product _mange Style-------------*/
.P-img{
    transition: height 0.3s;
  -webkit-transition: height 0.3s; /* Safari 3.1 to 6.0 */
}
.P-img:hover{
    border: 3px solid white;
box-shadow: 5px 5px 5px Gray;
}
/*-----Product Images----*/
.P-size{
background-color: #0C4F9B;
width: 200px;
height: 310px;
}
.P-size:hover{
background-color: #0e5bb3;
width: 210px;
height: 320px;
}

/*--------------Contact---------------*/

#contact{
background: #efefef;
padding-top: 40px;
padding-bottom: 40px;
color: black;
}
.contact-form{
padding: 15px;
}
.form-control{
border-radius: 0 !important;
border: none !important;
}
::placehol  der{
color: #999 !important;
}
.follow{
background: #fff;
padding: 10px;
margin: 15px;
}
.contact-info .fa{
margin: 10px;
color: darkorange;
font-weight: bold;
}


/*----------------Footer-------------------*/

#footer{
background-image: url(./Footer.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
background-color: #999;   
padding-top: 10px;
height: 180px;

}
.l{
    float: left;
    padding: 1px;
}
.l1{
    text-align: center;
    -webkit-animation: bounce 1s infinite;
}


/* Responsive layout - when the screen is less than 700px wide, make the two
columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
 .navbar {
flex-direction: column;
}
}



